
body {
    min-height: 100vh;
    height: 100%;
}

header {
    background-color: black;
    color: white;
}

h1 {
    font-weight: bold;
}

footer {
    background-color: black;
    color: white;
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container > * {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

