html {
  font-size: 62.5%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  min-height: 100vh;
}

header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 9px 11px black;
}

header > a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 900;
  font-size: 5rem;
}

i {
  font-size: 5rem;
}

footer {
  background-color: black;
  color: white;
  display: none;
  box-shadow: 0 9px 11px black;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr;
  height: 100vh;
  max-width: 960px;
  margin: auto;
  padding: 1rem;
  row-gap: 1.6rem;
}

.colors-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.colors-container > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 9px 11px black;
}

.colors-container > section > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.colors-container > section > a:hover {
  color: white;
}

.blue {
  background-color: #1752da;
}

.green {
  background-color: #4fc049;
}

.yellow {
  background-color: #e5e511;
}

.red {
  background-color: #e51111;
}

/* BLUE PAGE */
.blue1 {
  background-color: #1752da;
}

.blue2 {
  background-color: #0a40bd;
}

.blue3 {
  background-color: #08308c;
}

.blue4 {
  background-color: #3e6fde;
}

/* GREEN PAGE */

.green1 {
  background-color: #4fc049;
}
.green2 {
  background-color: #32ab2b;
}
.green3 {
  background-color: #1a8b14;
}
.green4 {
  background-color: #75d770;
}

/* YELLOW PAGE */
.yellow1 {
  background-color: #e5e511;
}

.yellow2 {
  background-color: #ffff6c;
}

.yellow3 {
  background-color: #b5b506;
}

.yellow4 {
  background-color: #f4f441;
}

/* RED PAGE */
.red1 {
  background-color: #e51111;
}
.red2 {
  background-color: #b50606;
}
.red3 {
  background-color: #8d0000;
}
.red4 {
  background-color: #f44141;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  
  .colors-container {
    grid-row: 2 / 6;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



@media (min-width: 660px) {
  .colors-container {
    flex-direction: row;
    flex-wrap: wrap;
    grid-row: 2 / 4;
  }
  .colors-container > section {
    flex: 1 1 44%;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
